AskForCalculate/Service References/CalculationService/ВistributedСalculation31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54404/ВistributedСalculation.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="CalculationInput">
    <xs:sequence>
      <xs:element minOccurs="0" name="End" type="xs:long" />
      <xs:element minOccurs="0" name="Start" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CalculationInput" nillable="true" type="tns:CalculationInput" />
  <xs:complexType name="CalculationOutput">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="Exception" nillable="true" type="q1:Exception" />
      <xs:element minOccurs="0" name="Result" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CalculationOutput" nillable="true" type="tns:CalculationOutput" />
  <xs:complexType name="CalculationParameterForUnit">
    <xs:sequence>
      <xs:element minOccurs="0" name="X" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CalculationParameterForUnit" nillable="true" type="tns:CalculationParameterForUnit" />
</xs:schema>