CalculationUnit/Service References/CalculationService/ВistributedСalculation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CalculationInput">
    <xs:sequence>
      <xs:element minOccurs="0" name="End" type="xs:int" />
      <xs:element minOccurs="0" name="Start" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CalculationInput" nillable="true" type="tns:CalculationInput" />
  <xs:complexType name="CalculationOutput">
    <xs:sequence>
      <xs:element minOccurs="0" name="Result" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CalculationOutput" nillable="true" type="tns:CalculationOutput" />
</xs:schema>